<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855940616320-mr28th8ub05bsca72gu0b9lhhlnpsil8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855940616320-mr28th8ub05bsca72gu0b9lhhlnpsil8</string>
	<key>API_KEY</key>
	<string>AIzaSyBqiyuncDsa65cf_jxaUDKK85CusHIR9Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>855940616320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAssessment</string>
	<key>PROJECT_ID</key>
	<string>login-assessment-62998</string>
	<key>STORAGE_BUCKET</key>
	<string>login-assessment-62998.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855940616320:ios:7c25558c66e2d336225665</string>
</dict>
</plist>